/* Color Theme Swatches in RGBA */
@import url("https://fonts.googleapis.com/css?family=Montserrat:500|Playfair+Display:700");
body {
  margin: 0;
  color: #d4d4d4;
  font-family: "Montserrat", sans-serif;
  background-color: rgba(0, 0, 0, 0.4);
}

header {
  display: -ms-grid;
  display: grid;
  place-items: center;
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
}

nav {
  position: absolute;
  text-align: center;
  top: 100%;
  left: 0;
  width: 100%;
  -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: -webkit-transform 400ms ease-in-out;
  transition: -webkit-transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
  background-color: rgba(0, 0, 0, 0.4);
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: #d4d4d4;
  text-decoration: none;
  font-size: 2rem;
  text-transform: uppercase;
}

nav a:hover {
  color: #8c8c8c;
}

.logo {
  position: absolute;
  top: 10px;
  left: 10px;
}

.logo svg {
  fill: #d4d4d4;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 40px;
}

.nav-toggle-label:hover {
  cursor: pointer;
  text-shadow: 0 0 6px #a6a6a6;
}

.nav-toggle:checked ~ nav {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  background-color: #0d0d0d;
  height: 25vh;
}

.nav-toggle:checked ~ .nav-toggle-label {
  display: none;
}

.social {
  color: #d4d4d4;
}

.hero {
  height: 100vh;
  background-image: url(https://images.pexels.com/photos/698808/pexels-photo-698808.jpeg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#hi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

#hi shado #hello {
  -webkit-animation: flash linear 1.5s 2;
          animation: flash linear 1.5s 2;
}

#hi #name {
  font-family: "Montserrat", sans-serif;
  display: inline-block;
  margin: auto;
}

#hi #name #name-text {
  margin: 0;
  display: inline-block;
  overflow: hidden;
  width: 0%;
  letter-spacing: 2px;
  -webkit-animation: typing 1s steps(8, end) 3s forwards, blink 0.75s step-end infinite;
          animation: typing 1s steps(8, end) 3s forwards, blink 0.75s step-end infinite;
  white-space: nowrap;
  font-size: 4rem;
  font-weight: 700;
  border-right: 4px solid blue;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (min-width: 800px) {
  .nav-toggle-label {
    display: none;
  }
}

@-webkit-keyframes flash {
  0% {
    font-size: 0.5rem;
  }
  25% {
    font-size: 1rem;
  }
  50% {
    font-size: 2rem;
  }
  75% {
    font-size: 1rem;
  }
  100% {
    font-size: 0.5rem;
  }
}

@keyframes flash {
  0% {
    font-size: 0.5rem;
  }
  25% {
    font-size: 1rem;
  }
  50% {
    font-size: 2rem;
  }
  75% {
    font-size: 1rem;
  }
  100% {
    font-size: 0.5rem;
  }
}

@-webkit-keyframes typing {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes typing {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@-webkit-keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: blue;
  }
}

@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: blue;
  }
}
/*# sourceMappingURL=styles.css.map */